{% extends "maykin_common/api/index_base.html" %}
{% load i18n %}


{% block page_title %}{% trans "WOO Publications API" %}{% endblock %}
{% block page_subtitle %}
    {% blocktrans trimmed %}
        Repository and JSON-based API for WOO publications.
    {% endblocktrans %}
{% endblock page_subtitle %}


{% block content_nl %}
<p>
    De Publicatiebank en bijhorende API bevatten en ontsluiten
    overheidsdocumenten in het kader van de Wet Open Overheid (WOO).
    Deze registratiecomponent maakt het mogelijk voor:
</p>

<ul class="list list--centered">
    <li>publicatiecomponenten om publicaties en documenten te beheren</li>
    <li>burgerportalen om publicaties weer te geven en indexeren in de landelijke index</li>
</ul>

<p>
    Dit component bevat slechts een minimale beheeromgeving. Voor
    productie-doeleinden dien je een publicatiecomponent te koppelen.
</p>
{% endblock content_nl %}

{% block content_en %}
<p>
    The publications database and accompanying API contain and expose
    government documents intended for publication in the context of
    the "Open Government Law", for which the Dutch abbreviation is "WOO".
    This registration component enables:
</p>

<ul class="list list--centered">
    <li>publication components to manage publications and documents</li>
    <li>citizen portals to display publications and have them indexed in the national index</li>
</ul>

<p>
    This component contains only a minimal administrative interface.
    For production purposes you need to connect a publication component.
</p>
{% endblock content_en %}


{% block license_link %}https://github.com/GPP-Woo/GPP-publicatiebank/blob/main/LICENSE.md{% endblock %}
